<div class="main">
<div class="banner">
	<div  id="top" class="callbacks_container">
	<ul class="rslides" id="slider3">
		<li>
			<div class="banner1">
				<div class="container">
					<div class="banner-info">
						<h3><span style="color: #073B4F;">Global & Smart</span><span style="color: #FDA30E;">Healthcare</span> 
							<span style="color:#0E8CFC ;">Solutions</span><span style="color: #073B4F;">provider</span></h3>
						<p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
							quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick
							quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs</p>
						<a routerLink="dictionary" class="hvr-outline-out button2 scroll">Book an appointment</a>
					</div>
				</div>
			</div>
		</li>


	</ul>
	</div>
	<div class="clearfix"></div>
	</div>
	<app-map></app-map>
	<div class="content">
		<div class="container">
			<div class="col-md-4 content_right wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<img class="img-responsive" src="assets/images/pic1.jpg" alt=" " />
			</div>
			<div id="book"  class="col-md-4 content_left wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
				<div class="welcome">
					<h3>Welcome To Medaicon</h3>
					<ul>
						<li><a href="#">Accusantium Doloremque Accus</a></li>
						<li><a href="#">Molestiae Consequatur Molestiae</a></li>
						<li><a href="#">Nostrum Exercitationem Nostrum</a></li>
						<li><a href="#">Consequuntur Magnidolor Nostrum</a></li>
						<li><a href="#">Molestiae Consequatur Molestiae</a></li>
						<li><a href="#">Nostrum Exercitationem Nostrum</a></li>
						<li><a href="#">Consequuntur Magnidolor Nostrum</a></li>
					</ul>
				</div>
			</div>
		
			<div id="book" class="col-md-4 content_middle wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
				<h3>Why should people choose
					<span style="color: darkgoldenrod;">MEDAICON</span> services?</h3>
				<form action="#" method="post">
<p>Medical dictionary</p>
					<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
						<option value="null">Select Department</option>
						<option value="null">Health Care</option>
						<option value="null">Body Checkup</option>
						<option value="null">Out Patient</option>
						<option value="null">Surgery</option>
					</select>
					<input type="submit" value="Book Now">
				</form>
			</div>
			
			<div class="clearfix"></div>
		</div>
	</div>
   <br>
   <br>
	<div class="services">
		<div class="container">
			<div class="col-md-4 services_left wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
				<h3>Our Best Services</h3>
				<p class="ser-para" >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
					sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
				<a href="about.html" class="hvr-outline-out button2">See More About Us</a>
					<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							 // Slideshow 4
							$("#slider4").responsiveSlides({
								auto: true,
								pager: true,
								nav: false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
							$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
								$('.events').append("<li>after event fired.</li>");
								}
								});
							});
					</script>
				<div  class="callbacks_container">
					
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-8 services_right ">
				<div class="list-left text-center wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"><img class="img-responsive" src="assets/images/televisita.png" alt=" "/></span>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="list-left text-center wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
					<span class="glyphicon glyphicon-scissors" aria-hidden="true"><img class="img-responsive" src="assets/images/doclick.png" alt=" "/></span>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="list-left text-center no_marg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.3s">
					<span class="glyphicon glyphicon-apple" aria-hidden="true"><img class="img-responsive" src="assets/images/panoramedic.png" alt=" "/></span>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="list-left text-center no_marg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">
					<span class="glyphicon glyphicon-education" aria-hidden="true"><img class="img-responsive" src="assets/images/docotrSina.png" alt=" "/></span>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>


	<div class="ind-team">
		<div class="container">
			<h3>Meet Our Team</h3>
			<h2 style="text-align: center; color: darkgoldenrod;">Our Team Consists Only Of The Best Talents</h2>
			<div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team-img">
					<img class="img-responsive" src="assets/images/pic4.jpg" alt=" "/>
					<div class="team-info">
						<ul>
							<li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
						</ul>
					</div>
				</div>
				<h4>Dr. Federica</h4>
				<p>Dental Surgeon</p>
			</div>
			<div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team-img">
					<img class="img-responsive" src="assets/images/pic5.jpg" alt=" "/>
					<div class="team-info">
						<ul>
							<li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
						</ul>
					</div>
				</div>
				<h4>Dr. Thompson</h4>
				<p>Cardiology</p>

			</div>
			<div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team-img">
					<img class="img-responsive" src="assets/images/pic5.jpg" alt=" "/>
					<div class="team-info">
						<ul>
							<li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
						</ul>
					</div>
				</div>
				<h4>Dr. Thompson</h4>
				<p>Cardiology</p>

			</div>
			<div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team-img">
					<img class="img-responsive" src="assets/images/pic5.jpg" alt=" "/>
					<div class="team-info">
						<ul>
							<li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
						</ul>
					</div>
				</div>
				<h4>Dr. Thompson</h4>
				<p>Cardiology</p>

			</div>
			<div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team-img">
					<img class="img-responsive" src="assets/images/pic5.jpg" alt=" "/>
					<div class="team-info">
						<ul>
							<li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
						</ul>
					</div>
				</div>
				<h4>Dr. Thompson</h4>
				<p>Cardiology</p>

			</div>
			<div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team-img">
					<img class="img-responsive" src="assets/images/pic6.jpg" alt=" "/>
					<div class="team-info">
						<ul>
							<li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
						</ul>
					</div>
				</div>
				<h4>Dr. Victoria</h4>
				<p>Neurology</p>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>


	<!-- capabilities -->
	<div class="capacity">
		<div class="container">
			<h3>Our Experience</h3>
			<div class="col-md-3 capabil_grid1 wow fadeInDownBig animated animated text-center" data-wow-delay="0.4s">
				<div class="capil_text">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5700' data-delay='.5' data-increment="100">5700</div>
					<p>Happy Patients</p>
				</div>
			</div>
			<div class="col-md-3 capabil_grid2 wow fadeInUpBig animated animated text-center" data-wow-delay="0.4s">
				<div class="capil_text">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1700' data-delay='.5' data-increment="5">1700</div>
					<p>Our Staff</p>
				</div>
			</div>
			<div class="col-md-3 capabil_grid3 wow fadeInDownBig animated animated text-center" data-wow-delay="0.4s">
				<div class="capil_text">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='0021' data-delay='.5' data-increment="100">0021</div>
					<p>Foundation</p>
				</div>
			</div>
			<div class="col-md-3 capabil_grid4 wow fadeInUpBig animated animated text-center" data-wow-delay="0.4s">
				<div class="capil_text">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2500' data-delay='.5' data-increment="1">2500</div>
					<p>Clients</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
